/* CSS declarations go here */
header {
	margin-bottom:50px;
	text-align: center;
}

header h1 {
	font-family:'Open Sans';
}

header .contributors {

}

.mainActions {
	margin-bottom:10px;
}

.singleEventBorder{
	width:100%;
	border-collapse:collapse;
}

.loginWrapper {
	display: block;
	margin:auto;
	width:40%;
	position: relative;
}

.login-field {
    position:relative;
    margin-bottom:20px;
}

.login-field i {
    position:absolute;
}

i#userSymbol, i#passwordSymbol{
    top:8px;
    left:15px;
    font-size: 14pt;
}

.login-field input {
    padding-left:40px;
}

.loginAction.login, 
.loginAction.register,
.loginAction.logout,
.submitEvent {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    color: #FFEFD7;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
    background-color: #FF8C00;
    width:100%;
    padding:15px;
    border-radius:5px;
    font-weight:bold;
    font-size:1.3em;
}

.loginAction.toLogin, 
.loginAction.toRegister {
    text-align: center;
    font-size:1.2em;
    margin-top:10px;
}

.centered{
    text-align: center;
    display:block;
    margin:auto;
}

.marginBottom {
    margin-bottom:20px;
}

.biggerIcon {
    font-size:14pt;
    margin:0 5px;
}

.logout {
    cursor:pointer;
}

.newEvent .form-control {
    margin:10px 0;
}

table td[class*="col-"], table th[class*="col-"]{
    float:left;
}

.pointerCursor {
    cursor: pointer;
}

.green {
    color: #5C9216;
}

.removeIcon {
    color: #D21C1C;
}

.removeIcon i.fa.fa-remove.pull-right.pointerCursor {
    padding-top: 2px;
    padding-right: 10px;
}

td.day.active.today {
    background-color: #FF8C00;
    color: white;
    border-radius: 100%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

th.pointerCursor.noSelect{
    color:#337ab7;
}

.errorMessage {
    color:#D21C1C;
    text-align: center;
    margin-top:20px;
}

.notFound {
    text-align: center;
    margin-top:100px;
}